/* Steve jobs' book */

@font-face {
  font-family: 'Stempel-Garamond-W01-Roman';
  font-style: normal;
  font-weight: bold;
  color: red;
  src: url('../fonts/IceCreamPartySolid.ttf');
}

body, ul, table, form{
	margin:0;
	padding:0;
	overflow:hidden;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

#canvas{
	width: 960px;
	height: 600px;
	margin: 100px auto;
}

#book-zoom{
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -ms-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}

.sj-book{
	width:960px;
	height:600px;
}

.sj-book h1{
	font-family: "Stempel-Garamond-W01-Roman";
	font-size: 60px;
	font-weight: lighter;
	margin: 20px 0;
	color: #333;
	-webkit-text-fill-color: #333;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 0.005em;
}

.sj-book h2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#444;
    font-size:16px;
	letter-spacing:2px;
	font-weight: 400;
}

.sj-book .book-content{
	font-family: "Stempel-Garamond-W01-Roman";
	font-size:21px;
	margin:70px 40px;
}

.sj-book blockquote{
	color:#586078;
	margin:10px 0;
	font-style:italic;
}

.sj-book blockquote:before{
	content: "\201C";
	color:#333D53;
	font-size:20px;
}

.sj-book blockquote:after{
	content: "\201D";
	color:#333D53;
	font-size:20px;
}

.sj-book cite{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:13px;
	font-weight:200;
	font-style:normal;
	color:#666;
}

.sj-book .book-content .center-pic{
	margin:0;
	text-indent:0;
	text-align:center;
}

.sj-book .zoom-this:hover{
	opacity:0.9;
	cursor:pointer;
}

.sj-book .book-content p{
	text-indent: 18px;
	margin: 20px 0;
	line-height: 22px;
}

.sj-book .left-pic{
	float:left;
	margin-top:15px;
	margin-right:15px;
	margin-bottom:15px;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

.sj-book .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 10px #999;
	-moz-box-shadow:0 0 10px #999;
	-ms-box-shadow:0 0 10px #999;
	-o-box-shadow:0 0 10px #999;
	box-shadow:0 0 10px #999;
}

.sj-book .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.zoom-pic{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.2);
	z-index:999;
}

.zoom-pic img{
	-webkit-box-shadow:0 0 20px #999;
	-moz-box-shadow:0 0 20px #999;
	-o-box-shadow:0 0 20px #999;
	-ms-box-shadow:0 0 20px #999;
	box-shadow:0 0 20px #999;
}

.sj-book .p1,
.sj-book .p2,
.sj-book .p3, 
.sj-book .p91, 
.sj-book .p92{
	background-color:white;
	background-image:url(../images/book-covers.jpg) !important;
}

.sj-book .p1{
	background-position:0 0;
}

.sj-book .p1 .side{
	width:5px;
	height:600px;
	position:absolute;
	top:0;
	left:475px;

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #bbb), color-stop(0.5,  #ddd), color-stop(1,  #bbb));
	background-image:-webkit-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-moz-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-ms-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-o-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:linear-gradient(left, #bbb, #ddd, #bbb);
	
	-webkit-transform:rotateY(-90deg);
	-moz-transform:rotateY(-90deg);
	-o-transform:rotateY(-90deg);
	-ms-transform:rotateY(-90deg);
	transform:rotateY(-90deg);

	-webkit-transform-origin:top right;
	-moz-transform-origin:top right;
	-o-transform-origin:top right;
	-ms-transform-origin:top right;
	transform-origin:top right;
	z-index:100000;

}

.sj-book-transform div[page="1"] > div, .sj-book-transform div[page="2"] > div{
	overflow:visible !important;
}

.sj-book .depth{
	background-image:url(../images/pages-depth.png);
	position:absolute;
	top:7px;
	width:16px;
	height:590px;
}

.sj-book .front-side .depth{
	left:4px;
	background-position:0 0;
}

.sj-book .back-side .depth{
	right:4px;
	background-position:right 0;
}


.sj-book .p2{
	background-position:-480px 0 !important;
}

.sj-book .p3{
	background-position:-1920px 0 !important;
}

.sj-book .p91{
	background-position:-960px 0 !important;
}

.sj-book .p92{
	background-position:-1440px 0 !important;
}

.sj-book .hard{
	width:480px;
	height:600px;
	background-color:white;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	box-shadow:none;
}

.sj-book .page-wrapper{
	-webkit-perspective:2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
}

.sj-book .own-size{
	width:460px;
	height:582px;
	background-color:white;
	overflow:hidden;
}

.sj-book .even{
	background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #F8ECC5), color-stop(1, #676565));
	background-image:-webkit-linear-gradient(left, #F8ECC5 95%, #676565  100%);
	background-image:-moz-linear-gradient(left, #F8ECC5 95%, #676565 100%);
	background-image:-ms-linear-gradient(left, #F8ECC5 95%, #676565 100%);
	background-image:-o-linear-gradient(left, #F8ECC5 95%, #676565 100%);
	background-image:linear-gradient(left, #F8ECC5 95%, #676565 100%);
}

.sj-book .odd{
	background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #F8ECC5), color-stop(1, #676565));
	background-image:-webkit-linear-gradient(right, #F8ECC5 95%, #676565  100%);
	background-image:-moz-linear-gradient(right, #F8ECC5 95%, #676565  100%);
	background-image:-ms-linear-gradient(right, #F8ECC5 95%, #676565  100%);
	background-image:-o-linear-gradient(right, #F8ECC5 95%, #676565  100%);
	background-image:linear-gradient(right, #F8ECC5 95%, #676565  100%);
}

.sj-book .loader{
	background-image:url(../images/loader.gif);
	width:22px;
	height:22px;
	position:absolute;
	top:280px;
	left:219px;
}

.sj-book .page-number{
	color:#999;
	width:100%;
	bottom:25px;
	position:absolute;
	display:block;
	text-align: center;
	line-height:30px;
	font-size:11px;
}

.sj-book .table-contents{
	font-size:16px;
	width:300px;
	margin:80px auto;
	color:#ccc;
}

.sj-book .table-contents li{
	list-style:none;
	line-height:25px;
}

.sj-book .table-contents span{
	float:right;
	margin-right:10px;
}

.sj-book .table-contents a{
	font-family: "Stempel-Garamond-W01-Roman";
    font-size: 23px;
	float:left;
	width:100%;
	clear:both;
	text-decoration:none;
	color:#333;
	margin:2px 0;
	padding:0 10px;
}

.sj-book .table-contents a:hover{
	font-size: 30px;
	background:#CAD1EE;
	float:left;
	width:100%;
	clear:both;
	text-decoration:none;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	border-radius:10px;
}

.sj-book .book-content .capital,
.sj-book .book-content .no-indent{
	text-indent: 0;
}

.sj-book .capital:first-letter {
    display:block;
    float:left;
    font-size: 300%;
    line-height: 70%;
	margin-right: 6px;
	margin-top: 7px;
	margin-left:18px;
}

.ie8 .sj-book .even,
.ie9 .sj-book .even{
	background-image:url(../images/gradient-page-left.jpg);
	background-position:right top;
	background-repeat:repeat-y;
}

.ie8 .sj-book .odd,
.ie9 .sj-book .odd{
	background-image:url(../images/gradient-page-right.jpg);
	background-position:left top;
	background-repeat:repeat-y;
}

/* HEXAGONS START HERE */
.sj-book .book-content .capital,
.sj-book .book-content .flavour-text {
	margin: 0px;
	text-indent: 0px;
	width: 100%;
	text-align: center;
	font-size: 19px;
	padding-top: 17px;
}
.col1 {
	margin-top: -50px;
}
/**************************************************/

									/*Dips*/
/**************************************************/
								/*FORM INPUTS*/
							
.firstName
{
	margin-left:120px;
}
.lastName
{
	margin-left:122px;
}
.phoneNumber
{
	margin-left:100px;
}
.email
{
	margin-left:159px;
}
.eventType
{
	margin-left:121px;
	width:173px;
}
.numberPeople
{
	margin-left:76px;
}
.iceCreamTruck
{
	margin-left:21px;
	width:173px;
}
.lemonadeTrailer
{
	margin-left:22px;
	width:173px;
}
.crepeTruck
{
	margin-left:56px;
	width:173px;
}
.location
{
	margin-left:135px;
}
.date
{
	margin-left:163px;
}
.time
{
	margin-left:163px;
}
	
.own-size.page.p13, .own-size.page.p15, .own-size.page.p17, .own-size.page.p19, .own-size.page.p21, .own-size.page.p23, .own-size.page.p25, .own-size.page.p27, .own-size.page.p31, .own-size.page.p33, .own-size.page.p35, .own-size.page.p37, .own-size.page.p39 {
    background-image: url("../images/menu/background.png");
}

.own-size.page.p29{
    background-image: url("../images/menu/frappeBkgdSized.png");
	}

.own-size.page.p33{
    background-image: url("../images/menu/parfaitbkgd.png");
	background-repeat: no-repeat;
    background-size: cover;
	}

.own-size.page.p41, .own-size.page.p43, .own-size.page.p45, .own-size.page.p47, .own-size.page.p49, .own-size.page.p55, .own-size.page.p57, .own-size.page.p59, .own-size.page.p61, .own-size.page.p63, .own-size.page.p65, .own-size.page.p67, .own-size.page.p69, .own-size.page.p71, .own-size.page.p73, .own-size.page.p75, .own-size.page.p77, .own-size.page.p81, .own-size.page.p83 {
    background-image: url("../images/menu/galleryRight.png");
	background-repeat: no-repeat;
	}

.own-size.page.p44, .own-size.page.p48, .own-size.page.p52, .own-size.page.p54, .own-size.page.p56, .own-size.page.p58, .own-size.page.p60, .own-size.page.p62, .own-size.page.p64, .own-size.page.p66, .own-size.page.p70, .own-size.page.p72, .own-size.page.p74, .own-size.page.p76, .own-size.page.p78, .own-size.page.p80, .own-size.page.p82, .own-size.page.p84 {
    background-image: url("../images/menu/galleryLeft.png");
	background-repeat: no-repeat;
	}

	
@font-face {
  font-family: 'chalkboard1';
  font-style: normal;
  src: url('../fonts/EraserRegular.ttf');
}

.bookTab {
    width: 40px;
    height: 100px;
    position: absolute;
    z-index: 100;
}

#tabLeft1:hover {
	z-index: 101;
}

#tabLeft2:hover {
	z-index: 101;
}

#tabLeft3:hover {
	z-index: 101;
}

#tabLeft4:hover {
	z-index: 101;
}

#tabLeft5:hover {
	z-index: 101;
}

#tabLeft6:hover {
	z-index: 101;
}

#tabLeft7:hover {
	z-index: 101;
}

#tabLeft8:hover {
	z-index: 101;
}

#tabLeft9:hover {
	z-index: 101;
}

#tabLeft10:hover {
	z-index: 101;
}

#tabLeft11:hover {
	z-index: 101;
}

#tabRight1:hover {
	z-index: 101;
}

#tabRight2:hover {
	z-index: 101;
}

#tabRight3:hover {
	z-index: 101;
}

#tabRight4:hover {
	z-index: 101;
}

#tabRight5:hover {
	z-index: 101;
}

#tabRight6:hover {
	z-index: 101;
}

#tabRight7:hover {
	z-index: 101;
}

#tabRight8:hover {
	z-index: 101;
}

#tabRight9:hover {
	z-index: 101;
}

#tabRight10:hover {
	z-index: 101;
}

#tabRight11:hover {
	z-index: 101;
}