/* Steve jobs' book */

@font-face {
  font-family: 'Stempel-Garamond-W01-Roman';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Stempel-Garamond-W01-Roman.woff') format('woff');
}

body, ul, table, form{
	margin:0;
	padding:0;
	overflow:hidden;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

#canvas{
	width: 960px;
	height: 600px;
	margin: 100px auto;
}

#book-zoom{
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -ms-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}

.sj-book{
	width:960px;
	height:600px;
}

.sj-book h1{
	font-family: "Stempel-Garamond-W01-Roman";
	font-size: 38px;
	font-weight: lighter;
	margin: 20px 0;
	color: #333;
	-webkit-text-fill-color: #333;
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 0.005em;
}

.sj-book h2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#444;
    font-size:16px;
	letter-spacing:2px;
	font-weight: 400;
}

.sj-book .book-content{
	font-family: "Stempel-Garamond-W01-Roman";
	font-size:16px;
	margin:70px 40px;
}

.sj-book blockquote{
	color:#586078;
	margin:10px 0;
	font-style:italic;
}

.sj-book blockquote:before{
	content: "\201C";
	color:#333D53;
	font-size:20px;
}

.sj-book blockquote:after{
	content: "\201D";
	color:#333D53;
	font-size:20px;
}

.sj-book cite{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:13px;
	font-weight:200;
	font-style:normal;
	color:#666;
}

.sj-book .book-content .center-pic{
	margin:0;
	text-indent:0;
	text-align:center;
}

.sj-book .zoom-this:hover{
	opacity:0.9;
	cursor:pointer;
}

.sj-book .book-content p{
	text-indent: 18px;
	margin: 20px 0;
	line-height: 22px;
}

.sj-book .left-pic{
	float:left;
	margin-top:15px;
	margin-right:15px;
	margin-bottom:15px;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

.sj-book .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 10px #999;
	-moz-box-shadow:0 0 10px #999;
	-ms-box-shadow:0 0 10px #999;
	-o-box-shadow:0 0 10px #999;
	box-shadow:0 0 10px #999;
}

.sj-book .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.zoom-pic{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.2);
	z-index:999;
}

.zoom-pic img{
	-webkit-box-shadow:0 0 20px #999;
	-moz-box-shadow:0 0 20px #999;
	-o-box-shadow:0 0 20px #999;
	-ms-box-shadow:0 0 20px #999;
	box-shadow:0 0 20px #999;
}

.sj-book .p1,
.sj-book .p2,
.sj-book .p3, 
.sj-book .p73, 
.sj-book .p74{
	background-color:white;
	background-image:url(../images/book-covers.jpg) !important;
}

.sj-book .p1{
	background-position:0 0;
}

.sj-book .p1 .side{
	width:5px;
	height:600px;
	position:absolute;
	top:0;
	left:475px;

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #bbb), color-stop(0.5,  #ddd), color-stop(1,  #bbb));
	background-image:-webkit-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-moz-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-ms-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-o-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:linear-gradient(left, #bbb, #ddd, #bbb);
	
	-webkit-transform:rotateY(-90deg);
	-moz-transform:rotateY(-90deg);
	-o-transform:rotateY(-90deg);
	-ms-transform:rotateY(-90deg);
	transform:rotateY(-90deg);

	-webkit-transform-origin:top right;
	-moz-transform-origin:top right;
	-o-transform-origin:top right;
	-ms-transform-origin:top right;
	transform-origin:top right;
	z-index:100000;

}

.sj-book-transform div[page="1"] > div, .sj-book-transform div[page="2"] > div{
	overflow:visible !important;
}

.sj-book .depth{
	background-image:url(../images/pages-depth.png);
	position:absolute;
	top:7px;
	width:16px;
	height:590px;
}

.sj-book .front-side .depth{
	left:4px;
	background-position:0 0;
}

.sj-book .back-side .depth{
	right:4px;
	background-position:right 0;
}


.sj-book .p2{
	background-position:-480px 0 !important;
}

.sj-book .p3{
	background-position:-1920px 0 !important;
}

.sj-book .p73{
	background-position:-960px 0 !important;
}

.sj-book .p74{
	background-position:-1440px 0 !important;
}

.sj-book .hard{
	width:480px;
	height:600px;
	background-color:white;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	box-shadow:none;
}

.sj-book .page-wrapper{
	-webkit-perspective:2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
}

.sj-book .own-size{
	width:460px;
	height:582px;
	background-color:white;
	overflow:hidden;
}

.sj-book .even{
	background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
	background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:linear-gradient(left, #fff 95%, #dadada 100%);
}

.sj-book .odd{
	background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #fff), color-stop(1, #cacaca));
	background-image:-webkit-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-moz-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-ms-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-o-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:linear-gradient(right, #fff 95%, #cacaca 100%);
}

.sj-book .loader{
	background-image:url(../images/loader.gif);
	width:22px;
	height:22px;
	position:absolute;
	top:280px;
	left:219px;
}

.sj-book .page-number{
	color:#999;
	width:100%;
	bottom:25px;
	position:absolute;
	display:block;
	text-align: center;
	line-height:30px;
	font-size:11px;
}

.sj-book .table-contents{
	font-size:16px;
	width:300px;
	margin:80px auto;
	color:#ccc;
}

.sj-book .table-contents li{
	list-style:none;
	line-height:25px;
}

.sj-book .table-contents span{
	float:right;
	margin-right:10px;
}

.sj-book .table-contents a{
	float:left;
	width:100%;
	clear:both;
	text-decoration:none;
	color:#333;
	margin:2px 0;
	padding:0 10px;
}

.sj-book .table-contents a:hover{
	background:#CAD1EE;
	float:left;
	width:100%;
	clear:both;
	text-decoration:none;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	border-radius:10px;
}

.sj-book .book-content .capital,
.sj-book .book-content .no-indent{
	text-indent: 0;
}

.sj-book .capital:first-letter {
    display:block;
    float:left;
    font-size: 300%;
    line-height: 70%;
	margin-right: 6px;
	margin-top: 7px;
	margin-left:18px;
}

.ie8 .sj-book .even,
.ie9 .sj-book .even{
	background-image:url(../images/gradient-page-left.jpg);
	background-position:right top;
	background-repeat:repeat-y;
}

.ie8 .sj-book .odd,
.ie9 .sj-book .odd{
	background-image:url(../images/gradient-page-right.jpg);
	background-position:left top;
	background-repeat:repeat-y;
}

/* HEXAGONS START HERE */
.sj-book .book-content .capital,
.sj-book .book-content .flavour-text {
	margin: 0px;
	text-indent: 0px;
	width: 100%;
	text-align: center;
	font-size: 19px;
	padding-top: 17px;
}
.col1 {
	margin-top: -50px;
}

.hex1 {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #E30B5D;
  margin: 122.87px 19px;
}

.hex1:before,
.hex1:after {
  content: "";
  position: absolute;
  width: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hex1:before {
  bottom: 100%;
  border-bottom: 28.87px solid #E30B5D;
}

.hex1:after {
  top: 100%;
  width: 0px;
  border-top: 28.87px solid #E30B5D;
}
/********************************************************************/

.hex2 {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #32CD32;
  margin: -92.13px 71px;
}

.hex2:before,
.hex2:after {
  content: "";
  position: absolute;
  width: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hex2:before {
  bottom: 100%;
  border-bottom: 28.87px solid #32CD32;
}

.hex2:after {
  top: 100%;
  width: 0px;
  border-top: 28.87px solid #32CD32;
}
/********************************************************************/

.hex3 {
  position: absolute;
  width: 100px; 
  height: 57.74px;
  background-color: #FF7F00;
  margin: 121.87px 122px;
}

.hex3:before,
.hex3:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hex3:before {
  bottom: 100%;
  border-bottom: 28.87px solid #FF7F00;
}

.hex3:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #FF7F00;
}

/********************************************************************/

.hex4 {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #6F2DA8;
  margin: 33.87px 173px;
}

.hex4:before,
.hex4:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hex4:before {
  bottom: 100%;
  border-bottom: 28.87px solid #6F2DA8;
}

.hex4:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #6F2DA8;
}
/********************************************************************/

.hex5 {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #DE3163;
  margin: -178.13px 224px;
}

.hex5:before,
.hex5:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hex5:before {
  bottom: 100%;
  border-bottom: 28.87px solid #DE3163;
}

.hex5:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #DE3163;
}
/********************************************************************/

.hex6 {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #FC6C85;
  margin: 294.87px 19px;
}

.hex6:before,
.hex6:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hex6:before {
  bottom: 100%;
  border-bottom: 28.87px solid #FC6C85;
}

.hex6:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #FC6C85;
}
/********************************************************************/

.hex7 {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #E5CA2F;
  margin: -352.13px 224px;
}

.hex7:before,
.hex7:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hex7:before {
  bottom: 100%;
  border-bottom: 28.87px solid #E5CA2F;
}

.hex7:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #E5CA2F;
}
/********************************************************************/

.hex8 {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #FC5A8D;
  margin: 381.87px 174px;
}

.hex8:before,
.hex8:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hex8:before {
  bottom: 100%;
  border-bottom: 28.87px solid #FC5A8D;
}

.hex8:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #FC5A8D;
}
/********************************************************************/

.hex9 {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #FFC1CC;
  margin: -441.13px 276px;
}

.hex9:before,
.hex9:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hex9:before {
  bottom: 100%;
  border-bottom: 28.87px solid #FFC1CC;
}

.hex9:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #FFC1CC;
}
								/*Hex for Chocolate*/
.hexC {
  position: absolute;
  width: 175px; 
  height: 101.04px;
  background-color: #4E2E28;
  margin: 88.52px 46px;
}

.hexC:before,
.hexC:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 87.5px solid transparent;
  border-right: 87.5px solid transparent;
}

.hexC:before {
  bottom: 100%;
  border-bottom: 50.52px solid #4E2E28;
}

.hexC:after {
  top: 100%;
  width: 0;
  border-top: 50.52px solid #4E2E28;
}

								/*Hex for Vanilla*/
.hexV {
  position: absolute;
  width: 175px; 
  height: 101.04px;
  background-color: #F3E5AB;
  margin: 325.52px 46px;
}

.hexV:before,
.hexV:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 87.5px solid transparent;
  border-right: 87.5px solid transparent;
}

.hexV:before {
  bottom: 100%;
  border-bottom: 50.52px solid #F3E5AB;
}

.hexV:after {
  top: 100%;
  width: 0;
  border-top: 50.52px solid #F3E5AB;
}

								/*Hex for Twist*/
.hexT {
  position: absolute;
  width: 175px; 
  height: 101.04px;
  margin: 206.52px 200px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3e5ab+0,4e2e28+85,4e2e28+100,4e2e28+100,4e2e28+100 */
background: #f3e5ab; /* Old browsers */
background: -moz-linear-gradient(top, #f3e5ab 0%, #4e2e28 85%, #4e2e28 100%, #4e2e28 100%, #4e2e28 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f3e5ab 0%,#4e2e28 85%,#4e2e28 100%,#4e2e28 100%,#4e2e28 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f3e5ab 0%,#4e2e28 85%,#4e2e28 100%,#4e2e28 100%,#4e2e28 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e5ab', endColorstr='#4e2e28',GradientType=0 ); /* IE6-9 */
}

.hexT:before,
.hexT:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 87.5px solid transparent;
  border-right: 87.5px solid transparent;
}

.hexT:before {
  bottom: 100%;
  border-bottom: 50.52px solid #F3E5AB;
}

.hexT:after {
  top: 100%;
  width: 0;
  border-top: 50.52px solid #4E2E28;
}

																/*Sundae Flavours*/	
																
.hexCh {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #4E2E28;
  margin: 122.87px 19px;
}

.hexCh:before,
.hexCh:after {
  content: "";
  position: absolute;
  width: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexCh:before {
  bottom: 100%;
  border-bottom: 28.87px solid #4E2E28;
}

.hexCh:after {
  top: 100%;
  width: 0px;
  border-top: 28.87px solid #4E2E28;
}
/********************************************************************/

.hexHf {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #DE3163;
  margin: -92.13px 71px;
}

.hexHf:before,
.hexHf:after {
  content: "";
  position: absolute;
  width: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexHf:before {
  bottom: 100%;
  border-bottom: 28.87px solid #DE3163;
}

.hexHf:after {
  top: 100%;
  width: 0px;
  border-top: 28.87px solid #DE3163;
}
/********************************************************************/

.hexSb {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #f3d64f;
  margin: 121.87px 122px;
}

.hexSb:before,
.hexSb:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexSb:before {
  bottom: 100%;
  border-bottom: 28.87px solid #f3d64f;
}

.hexSb:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #f3d64f;
}

/********************************************************************/

.hexBb {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #4F86F7;
  margin: -267px 173px;
}

.hexBb:before,
.hexBb:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexBb:before {
  bottom: 100%;
  border-bottom: 28.87px solid #4F86F7;
}

.hexBb:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #4F86F7;
}
/********************************************************************/

.hexBs {
  position: absolute;
  width: 100px; 
  height: 57.74px;
  background-color: #FC5A8D;
  margin: 384.87px 174px;
}

.hexBs:before,
.hexBs:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexBs:before {
  bottom: 100%;
  border-bottom: 28.87px solid #FC5A8D;
}

.hexBs:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #FC5A8D;
}
/********************************************************************/

.hexPa {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #DAB760;
  margin: 296.87px 19px;
}

.hexPa:before,
.hexPa:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexPa:before {
  bottom: 100%;
  border-bottom: 28.87px solid #DAB760;
}

.hexPa:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #DAB760;
}
/********************************************************************/

.hexPb {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #D0B078;
  margin: -530.13px 224px;
}

.hexPb:before,
.hexPb:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexPb:before {
  bottom: 100%;
  border-bottom: 28.87px solid #D0B078;
}

.hexPb:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #D0B078;
}
/********************************************************************/
.hexChr {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #392724;
  margin: 646.87px 224px;
}

.hexChr:before,
.hexChr:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexChr:before {
  bottom: 100%;
  border-bottom: 28.87px solid #392724;
}

.hexChr:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #392724;
}
/********************************************************************/		

													/*Milkshake Flavours*/	
																
.hexChc {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #4E2E28;
  margin: 122.87px 19px;
}

.hexChc:before,
.hexChc:after {
  content: "";
  position: absolute;
  width: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexChc:before {
  bottom: 100%;
  border-bottom: 28.87px solid #4E2E28;
}

.hexChc:after {
  top: 100%;
  width: 0px;
  border-top: 28.87px solid #4E2E28;
}
/********************************************************************/

.hexSbr {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #FC5A8D;
  margin: -92.13px 70px;
}

.hexSbr:before,
.hexSbr:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexSbr:before {
  bottom: 100%;
  border-bottom: 28.87px solid #FC5A8D;
}

.hexSbr:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #FC5A8D;
}

/********************************************************************/

.hexBn {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #FFE135;
  margin: 33.87px 173px;
}

.hexBn:before,
.hexBn:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexBn:before {
  bottom: 100%;
  border-bottom: 28.87px solid #FFE135;
}

.hexBn:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #FFE135;
}
/********************************************************************/

.hexVl {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #F3E5AB;
  margin: -178.13px 224px;
}

.hexVl:before,
.hexVl:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexVl:before {
  bottom: 100%;
  border-bottom: 28.87px solid #F3E5AB;
}

.hexVl:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #F3E5AB;
}
/********************************************************************/

.hexRbf {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #3f2006;
  margin: 294.87px 19px;
}

.hexRbf:before,
.hexRbf:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexRbf:before {
  bottom: 100%;
  border-bottom: 28.87px solid #3f2006;
}

.hexRbf:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #3f2006;
}
/********************************************************************/

.hexBsc {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #DAB760;
  margin: -352.13px 224px;
}

.hexBsc:before,
.hexBsc:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexBsc:before {
  bottom: 100%;
  border-bottom: 28.87px solid #DAB760;
}

.hexBsc:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #DAB760;
}
/********************************************************************/
															
												/*Mega Flurries Toppings*/
												
/********************************************************************/
.hexOr {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #F3E5AB;
  margin: 122.87px 19px;
}

.hexOr:before,
.hexOr:after {
  content: "";
  position: absolute;
  width: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexOr:before {
  bottom: 100%;
  border-bottom: 28.87px solid #7B3F00;
}

.hexOr:after {
  top: 100%;
  width: 0px;
  border-top: 28.87px solid #7B3F00;
}
/********************************************************************/

.hexMnm {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #FFF200;
  margin: -92.13px 71px;
}

.hexMnm:before,
.hexMnm:after {
  content: "";
  position: absolute;
  width: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexMnm:before {
  bottom: 100%;
  border-bottom: 28.87px solid #FF0000;
}

.hexMnm:after {
  top: 100%;
  width: 0px;
  border-top: 28.87px solid #ADD8E6;
}
/********************************************************************/

.hexSmr {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #FF0000;
  margin: 121.87px 122px;
}

.hexSmr:before,
.hexSmr:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexSmr:before {
  bottom: 100%;
  border-bottom: 28.87px solid #FF0000;
}

.hexSmr:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #FF0000;
}

/********************************************************************/

.hexRsp {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #FF7F00;
  margin: -267px 173px;
}

.hexRsp:before,
.hexRsp:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexRsp:before {
  bottom: 100%;
  border-bottom: 28.87px solid #7B3F00;
}

.hexRsp:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #7B3F00;
}
/********************************************************************/

.hexSk {
  position: absolute;
  width: 100px; 
  height: 57.74px;
  background-color: #7B3F00;
  margin: 384.87px 70px;
}

.hexSk:before,
.hexSk:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexSk:before {
  bottom: 100%;
  border-bottom: 28.87px solid #7B3F00;
}

.hexSk:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #7B3F00;
}
/********************************************************************/

.hexMrch {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #DE3163;
  margin: 296.87px 19px;
}

.hexMrch:before,
.hexMrch:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexMrch:before {
  bottom: 100%;
  border-bottom: 28.87px solid #DE3163;
}

.hexMrch:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #DE3163;
}
/********************************************************************/

.hexMrb {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #B5651D;
  margin: -530.13px 224px;
}

.hexMrb:before,
.hexMrb:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexMrb:before {
  bottom: 100%;
  border-bottom: 28.87px solid #7B3F00;
}

.hexMrb:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #7B3F00;
}
/********************************************************************/
.hexBtf {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #B5651D;
  margin: 735.87px 174px;
}

.hexBtf:before,
.hexBtf:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexBtf:before {
  bottom: 100%;
  border-bottom: 28.87px solid #B5651D;
}

.hexBtf:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #B5651D;
}
															
												/*Popsicles Toppings*/
												
/********************************************************************/
.hexRok {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #F3E5AB;
  margin: 122.87px 19px;
}

.hexRok:before,
.hexRok:after {
  content: "";
  position: absolute;
  width: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexRok:before {
  bottom: 100%;
  border-bottom: 28.87px solid #7B3F00;
}

.hexRok:after {
  top: 100%;
  width: 0px;
  border-top: 28.87px solid #7B3F00;
}
/********************************************************************/

.hexFdg {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #FFF200;
  margin: -92.13px 71px;
}

.hexFdg:before,
.hexFdg:after {
  content: "";
  position: absolute;
  width: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexFdg:before {
  bottom: 100%;
  border-bottom: 28.87px solid #FF0000;
}

.hexFdg:after {
  top: 100%;
  width: 0px;
  border-top: 28.87px solid #ADD8E6;
}
/********************************************************************/

.hexCrb {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #FF0000;
  margin: 121.87px 122px;
}

.hexCrb:before,
.hexCrb:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexCrb:before {
  bottom: 100%;
  border-bottom: 28.87px solid #FF0000;
}

.hexCrb:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #FF0000;
}

/********************************************************************/

.hexSnc {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #FF7F00;
  margin: -267px 173px;
}

.hexSnc:before,
.hexSnc:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexSnc:before {
  bottom: 100%;
  border-bottom: 28.87px solid #7B3F00;
}

.hexSnc:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #7B3F00;
}
/********************************************************************/

.hexSon {
  position: absolute;
  width: 100px; 
  height: 57.74px;
  background-color: #7B3F00;
  margin: 384.87px 70px;
}

.hexSon:before,
.hexSon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexSon:before {
  bottom: 100%;
  border-bottom: 28.87px solid #7B3F00;
}

.hexSon:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #7B3F00;
}
/********************************************************************/

.hexSpg {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #DE3163;
  margin: 296.87px 19px;
}

.hexSpg:before,
.hexSpg:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexSpg:before {
  bottom: 100%;
  border-bottom: 28.87px solid #DE3163;
}

.hexSpg:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #DE3163;
}
/********************************************************************/

.hexSpd {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #B5651D;
  margin: -530.13px 224px;
}

.hexSpd:before,
.hexSpd:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexSpd:before {
  bottom: 100%;
  border-bottom: 28.87px solid #7B3F00;
}

.hexSpd:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #7B3F00;
}
/********************************************************************/
								/*Fruit Bar Flavours*/
/********************************************************************/

.hexCnb {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #FFE135;
  margin: 116.13px 18px;
}

.hexCnb:before,
.hexCnb:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexCnb:before {
  bottom: 100%;
  border-bottom: 28.87px solid #FFE135;
}

.hexCnb:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #FFE135;
}
/********************************************************************/

.hexStr {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #FC5A8D;
  margin: -86.87px 70px;
}

.hexStr:before,
.hexStr:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexStr:before {
  bottom: 100%;
  border-bottom: 28.87px solid #FC5A8D;
}

.hexStr:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #FC5A8D;
}
/********************************************************************/

.hexCcn {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #965A3E;
  margin: 29.13px 172px;
}

.hexCcn:before,
.hexCcn:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexCcn:before {
  bottom: 100%;
  border-bottom: 28.87px solid #965A3E;
}

.hexCcn:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #965A3E;
}
/********************************************************************/

.hexPnc {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #F3E5AB;
  margin: -173.58px 223px;
}

.hexPnc:before,
.hexPnc:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexPnc:before {
  bottom: 100%;
  border-bottom: 28.87px solid #F3E5AB;
}

.hexPnc:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #F3E5AB;
}
/********************************************************************/

.hexPna {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #fbd5a5;
  margin: 290.13px 19px;
}

.hexPna:before,
.hexPna:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexPna:before {
  bottom: 100%;
  border-bottom: 28.87px solid #fbd5a5;
}

.hexPna:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #fbd5a5;
}
/********************************************************************/

.hexMng {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #ffa439;
  margin: -348.71px 223px;
}

.hexMng:before,
.hexMng:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexMng:before {
  bottom: 100%;
  border-bottom: 28.87px solid #ffa439;
}

.hexMng:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #ffa439;
}
/**************************************************/

									/*Extras*/
/**************************************************/

.hexE1 {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #FFE135;
  margin: 100px 18px;
}

.hexE1:before,
.hexE1:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexE1:before {
  bottom: 100%;
  border-bottom: 28.87px solid #FFE135;
}

.hexE1:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #FFE135;
}
/**************************************************/

.hexE2 {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #FFE135;
  margin: -73.87px 83px;
}

.hexE2:before,
.hexE2:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexE2:before {
  bottom: 100%;
  border-bottom: 28.87px solid #FFE135;
}

.hexE2:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #FFE135;
}
/**************************************************/

.hexE3 {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #FFE135;
  margin: -142.87px 260px;
}

.hexE3:before,
.hexE3:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexE3:before {
  bottom: 100%;
  border-bottom: 28.87px solid #FFE135;
}

.hexE3:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #FFE135;
}
/**************************************************/

.hexE4 {
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #FFE135;
  margin: 171.13px 196px;
}

.hexE4:before,
.hexE4:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexE4:before {
  bottom: 100%;
  border-bottom: 28.87px solid #FFE135;
}

.hexE4:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #FFE135;
}
/**************************************************/

									/*Dips*/
/**************************************************/
								/*FORM INPUTS*/
							
.firstName
{
	margin-left:115px;
}
.lastName
{
	margin-left:118px;
}
.phoneNumber
{
	margin-left:87px;
}
.email
{
	margin-left:153px;
}
.eventType
{
	margin-left:113px;
	width:173px;
}
.numberPeople
{
	margin-left:66px;
	width:173px;
}
.iceCreamTruck
{
	margin-left:22px;
	width:173px;
}
.lemonadeTrailer
{
	margin-left:16px;
	width:173px;
}
.crepeTruck
{
	margin-left:51px;
	width:173px;
}
.location
{
	margin-left:132px;
}
.date
{
	margin-left:160px;
}
.time
{
	margin-left:157px;
}